.fondo{
    --background: url("../../assets/images/fondo-pantalla.png") no-repeat 100% 100%;
}

ion-card-subtitle{
    font-size: 17px;
}

.title{
    font-size: 22px;
}

.flex{
    display: flex;
    flex-direction: row;
}

.boton-circular{
    --border-radius: 100%;
    width: 80px;
    height: 80px;
}

.left{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.right{
    display: flex;
    flex-direction: row;
    width: 30%;
}